*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.wrapper{
    width: 300px;
    margin: auto;
    border-radius: 18px;
    border: 1px solid gray; 
}

.cover{
    height: 140px;
    background: gray;
}
.cover img{
    width: 300px;
    height: 140px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.circle{
    width: 155px;
    height: 155px;
    margin : auto;
    border-radius: 50%;
    border: 3px solid #fff;
    position: relative;
    top: -90px;
}

.logo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.id{
    position: relative;
    top: -80px;
    text-align: center;

}

h5{
    color: rgb(56, 54, 54);
    font-weight: bold;
}

.buttons{
    position: relative;
    top: -70px;

}

button{
    padding: 10px;
    border: none;
    background: #bbb7a9;
    border-radius: 8px;
    cursor: pointer;
}
button img{
   height: 15px;
    width: 15px; 
    margin: auto;
}
#btn1{
    width: 60%;
    margin-left: 10px;
}

#btn2{
    width: 15%;

}
#btn3{
    width: 15%;
}

hr{
    position: relative;
    top: -30px;
    margin-top: -30px;
}
.details{
    margin-left: 5px;
    position: relative;
    top: -15px;
}

.details ul{
    list-style: none;
}

.details ul li{
    margin-bottom: 1px;
    margin-left: 10px;
}

.stories{
    width: 340px;
    display: flex;
    margin: auto;

}

.story{
    margin-left: 10px;

}

.story img{
    width: 85px;
    height: 140px;
    margin : auto;
    border-radius: 10px;
    box-shadow: 0px 10px 5px rgba(0,0,0,0.1);
}

